{% extends '@layout/base.html.twig' %}

{% block title %}Billie{% endblock %}
{% block description %}Billie{% endblock %}
{% block keywords %}Billie{% endblock %}

{% block content %}
    <div class="row align-items-center g-lg-12 py-2">
        <div class="col-lg-12 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Billie</h1>
            <p class="col-lg-10 fs-4">
                An invoice is a document issued by a seller (creditor) to the buyer (debtor). It provides details
                about a sale or services, including the quantities, costs. Factoring is a process where a company
                (creditor) sells its
                invoice to a third-party factoring company (Billie). The factoring company then takes care of collecting
                the money from
                the debtor. Since there is always the risk that a debtor won’t pay their invoices, Billie sets a debtor
                limit for each
                company. This means that Billie won’t accept the invoice if the debtor’s total amount of open invoices
                reaches the
                limit.
            </p>
        </div>
    </div>
{% endblock %}
